<h3> Fatura Takibi</h3>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Fatura #00123 <span class="badge bg-success">Ödendi</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Fatura #00124 <span class="badge bg-danger">Bekliyor</span>
    </li>
</ul>
