@using MadrinHotelCRM.DTO.DTOModels
@model List<DepartmanDTO>

<h4>Departmanlar</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Departman ID</th>
            <th>Adı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DepartmanId</td>
                <td>@item.DepartmanAdi</td>
            </tr>
        }
    </tbody>
</table>
